{
  "ConnectionStrings": {
    "mongodb": "mongodb://codeji:codejidb@192.168.0.172:27017/codejiCmsv2"
  },
  "AppSettings": {
    "isForDebug": "True",
    "appVersion": "v4.0.0.15102024",
    "APIUrl": "http://localhost:5036/",
    "AppUrl": "http://localhost:5173/"
  },
  "FileSettings": {
    "UploadUrl": "uploads/",
    "Employee_ImageUrl": "fs/ProfileImage/",
    "viewResumeUrl": "fs/Resume/",
    "CompanyLogoUrl": "fs/CompanyLogo/",
    "CalendarItemCoverImage": "fs/CalendarItemCoverPictures/",
    "PolicyDocument": "fs/Policy/"
  },
  "EmailSettings": {
    "Host": "smtp.hostinger.com",
    "Port": 587,
    "FromName": "Codeji HR Test",
    "FromEmail": "depapp@codeji.in",
    "BccEmail": "hello@codeji.in",
    "SupportEmail": "hr@codeji.in"
  },
  "reCaptcha": {
    "SecretKey": "6LfRlNopAAAAAPXaiN5MQqq4vmTgDHAwmik_A3-d"
  },
  "Jwt": {
    "SecretKey": "masijdslwjvb6njsw902modsn826snswp2w8ytabdpahmspqudkmd",
    "Expiry": "15"
  },
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*"
}
